
    $navbar-background:#000;

//navbar start
.navbar-header{
  
    background-color: $navbar-background;
}
.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before{
    background-color: white!important;
}

.navbars{
    background-color: $navbar-background;
    width: 250px;
    height: 100%;
    bottom: 0;
}
.navbar-nav{
    position: absolute;
    top:80px;
    left:0px;
}

.menu-item{
    border-bottom: 2px solid white;
    display: block;
    width: 230px;
    font-size: 25px;

}
.nav-link{
    padding: 5px 15px!important;
}
.nav-item:hover{
    background-color: white;
   width: 250px;
   transition: 0.8s;
}

.navbar-overlay{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(17, 2, 2,0.5);
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.8s;
}

.navbar-overlay-js{
    transform: translateX(0%);
}

.navbar-overlay-js2{
    transform: translateX(0%)!important;
}


.brand-none{
    display: none;
}

.close-nav{
    margin-left: 100px;
    font-size: 30px;
    cursor: pointer;
}


//navbar ends

//home start

#home{


 padding-top: 60px;

 .carousel-img1{
     background-image: url("../image/pexels-lumn-167699.jpg");
     background-size: cover;
     height: 450px;
     background-size: cover;
     background-position:0 ;
 }
 .carousel-img2{
    background-image: url("../image/pexels-pixabay-206359.jpg");
    background-size: cover;
    height: 450px;
    background-position:0;
}
.carousel-img3{
    background-image: url("../image/pexels-tobi-620337.jpg");
    background-size: cover;
    height: 450px;
    background-position:0;
}

.carousel-indicators li{
    height: 4px!important;
}



}

#icons{
    .fa{
        font-size: 45px;
        margin-bottom: 5px;
        transition: 0.4s;
    }
 


}

#ready{
    background-image: url("../image/pexels-andrea-piacquadio-3756681.jpg");
    background-position:center bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .ready-overlay{
        background:rgba(17, 2, 2,0.6)
    }
}

 

@media only screen and (max-width: 576px) {
   
   #home{
       .carousel-caption h2{
        font-size: 3.0rem;
       }
   }

  }
  